.Todo-container {
    width: 75%;
    margin-top: 15px;

    .remove-todo {
        float: left;
        background-color: transparent;
        border: none;
        color: white;
        margin-top: 10px;

        img {
            background-color: #00D7FE;
            border-radius: 15px;
        }
    }
}