$text-icon-size: 18px;

button {
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;

    &:focus {
        outline: none;
    }
    
    .icon {
        vertical-align: top;
        width: $text-icon-size;
        height: $text-icon-size;
    }

    .textContent {
        font-size: $text-icon-size;
        margin-left: 3px;
        vertical-align: top;
    }
}